<html>
 <head>
  <title>Demo Ansible</title>
 </head>
<style>
table, th, td {
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
body {
   background-image: url("Logo_RH_RGB_Default.png");
   background-position: right bottom; /*Positioning*/
   background-repeat: no-repeat; /*Prevent showing multiple background images*/
}
</style>
 <body>
<br><br>
<h1 align="center">Demo preparado para Sodimac</h1>
<table align="center">
  <tr>
    <td><img align="center" src=Logo-sodimac-corona.jpg></td> 
  </tr>
</table>

<br><hr><br><br>
<table align="center" border="1px solid black" border-collapse="collapse">
  <tr>
    <th>Mensaje:</th>
    <td>{{ mensaje }}</td> 
  </tr>
  <tr>
    <th>Servidor:</th>
    <td>{{ ansible_hostname }}</td>
  </tr>
  <tr>
    <th>Versión archivo:</th>
    <td>{{ version_file }}</td> 
  </tr>
  <tr>
    <th>IP Server:</th>
    <td>{{ inventory_hostname }}</td>
  </tr>
  <tr>
    <th>Centro de Costos:</th>
    <td>{{ var_cc }}</td>
  </tr>
</table>

<br><br><br><br><br><br><br><br><br><br><br><br>

</body>
</html>
