<html>
 <head>
  <title>Demo Ansible</title>
 </head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
</style>
 <body>


<table>
  <tr>
    <th>Mensaje:</th>
    <td>{{ mensaje }}</td> 
  </tr>
  <tr>
    <th>Servidor:</th>
    <td>{{ ansible_hostname }}</td>
  </tr>
  <tr>
    <th>Versión archivo:</th>
    <td>{{ version_file }}</td> 
  </tr>
  <tr>
    <th>IP Server:</th>
    <td>{{ inventory_hostname }}</td>
  </tr>
  <tr>
    <th>Centro de Costos:</th>
    <td>{{ var_cc }}</td>
  </tr>
</table>


</body>
</html>
